<table class="altrowstable" id="alternatecolor" style="width:100%;height:50px;">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @menus.each do |menu| %>
  <tr>
    <%filename = "pizza_#{rand(999)}"%>
    <%File.open("#{Rails.root}/app/assets/images/#{filename}", 'wb') do|f|
      f.write(menu.image)
    end%>
    <td><%= image_tag("#{filename}",:width => "160")%></td>
    <td><%=menu.name%></td>
    <td><%=menu.description%></td>
    <td>Rs <%= menu.price rescue 210 %></td>
    <td><%= link_to 'Add to cart', menus_order_path(menu) %></td>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= button_to 'Add Pizza', new_menu_path, :method => "get"%> 
